@import "tailwindcss";

@theme {
  --color-brand: #ec4899;
  --color-brand-light: #f9a8d4;
  --color-brand-dark: #db2777;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
}
